<div [@.disabled]="temporaryDisabled">
    <div class="side-menu" *ngIf="isShow" [@sideMenu]>
        <div class="row">
            <div>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">

                            <li id="dropdown" title="Ligand">
                                <a routerLink="./app-stepper" data-toggle="collapse" href="#Stepper" [ngClass]="parentMenuString == 'Stepper' ? 'is-active' : ''">
                                    <i class="fas fa-atom" [ngClass]="parentMenuString == 'Stepper' ? 'is-active' : 'is-inactive'"></i>
                                    <span [ngClass]="parentMenuString == 'Stepper' ? 'is-active' : ''">Ligand</span>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                            <li id="dropdown" title="Target">
                                <a routerLink="./app-target" data-toggle="collapse" href="#Target" [ngClass]="parentMenuString == 'Target' ? 'is-active' : ''">
                                    <i class="fa fa-bullseye" [ngClass]="parentMenuString == 'Target' ? 'is-active' : 'is-inactive'"></i>
                                    <span [ngClass]="parentMenuString == 'Target' ? 'is-active' : ''">Target</span>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                           

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
</div>
<!-- <router-outlet></router-outlet> -->