<fieldset class="scheduler-border">
    <legend class="scheduler-border">Link</legend>
    <div class="row">
        <div class="col-xs-3 col-sm-3">
            <div class="form-group">
                <label path="TanNumber" for="series" cssClass="required">TAN Number</label>
                <input class="form-control" name="TanNumber" formControlName="TanNumber"
                    [ngClass]="{ 'is-invalid': submitted && f.TanNumber.errors }">
                <div *ngIf="submitted && f.TanNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.TanNumber.errors.required">Numeric Value is Required</div>
                </div>
            </div>
        </div>
    </div>
</fieldset>


<fieldset class="scheduler-border">
    <legend class="scheduler-border">Ligand</legend>
    <div class="formData">
        <form [formGroup]="LigandForm" (ngSubmit)="onLigandClick($event, LigandForm)" >


            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="LigandUri" for="series" cssClass="required">Ligand-Uri</label>
                        <input class="form-control" name="LigandUri" formControlName="LigandUri"
                            [ngClass]="{ 'is-invalid': submitted && f.LigandUri.errors }">
                        <div *ngIf="submitted && f.LigandUri.errors" class="invalid-feedback">
                            <div *ngIf="f.LigandUri.errors.required">URI is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="LigandVersion" for="series" cssClass="required">Ligand-Version</label>
                        <input class="form-control" name="LigandVersion" formControlName="LigandVersion"
                            [ngClass]="{ 'is-invalid': submitted && f.LigandVersion.errors }">
                        <div *ngIf="submitted && f.LigandVersion.errors" class="invalid-feedback">
                            <div *ngIf="f.LigandVersion.errors.required">Version is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandStatus" for="ligandStatus" cssClass="required">Ligand-status</label>
                        <input class="form-control" path="ligandStatus" name="ligandStatus"
                            formControlName="ligandStatus" value="embargoed" readonly />
                        <!-- <div *ngIf="submitted && f.TargetStatus.errors" class="invalid-feedback">
                        <div *ngIf="f.TargetStatus.errors.required">Status is Required</div>
                    </div> -->
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="collection" for="collection" cssClass="required">Collection</label>
                        <input class="form-control" path="collection" name="collection" formControlName="collection"
                            value="" readonly />
                        <!-- <div *ngIf="submitted && f.Collection.errors" class="invalid-feedback">
                        <div *ngIf="f.Collection.errors.required">Status is Required</div>
                    </div>  -->
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="LigandType" for="LigandType" cssClass="required">Ligand-Type</label>
                        <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                        <select class="form-control" name="LigandType" formControlName="LigandType"
                            [ngClass]="{ 'is-invalid': submitted && f.LigandType.errors }">
                            <option value="" hidden> - Select -LigandType - </option>
                            <option> Small molecule </option>
                            <option> BLG-Antibody </option>
                            <option> BLG-Protein </option>
                            <option> BLG-Peptide </option>
                            <option> BLG-Nucleic acid </option>
                            <option> BLG-Gene/cell therapeutic </option>
                            <option> BLG-Vaccine </option>
                            <option> Natural extract </option>
                            <option> Natural extract </option>
                            <option> Other </option>
                            <!-- <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                        {{system.description}}
                    </option> -->
                        </select>
                        <div *ngIf="submitted && f.LigandType.errors" class="invalid-feedback">
                            <div *ngIf="f.LigandType.errors.required">Lignd type is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="collectionName" for="series" cssClass="required">Collection-name</label>
                        <input class="form-control" name="collectionName" formControlName="collectionName"
                            [ngClass]="{ 'is-invalid': submitted && f.collectionName.errors }">
                        <div *ngIf="submitted && f.collectionName.errors" class="invalid-feedback">
                            <div *ngIf="f.collectionName.errors.required">collection name is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="collectionId" for="series" cssClass="required">Collection-id</label>
                        <input class="form-control" name="collectionId" formControlName="collectionId"
                            [ngClass]="{ 'is-invalid': submitted && f.collectionId.errors }">
                        <div *ngIf="submitted && f.collectionId.errors" class="invalid-feedback">
                            <div *ngIf="f.collectionId.errors.required">ID is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandDetail" for="series" cssClass="required">Ligand-detail</label>
                        <input class="form-control" name="ligandDetail" formControlName="ligandDetail"
                            [ngClass]="{ 'is-invalid': submitted && f.ligandDetail.errors }">
                        <div *ngIf="submitted && f.ligandDetail.errors" class="invalid-feedback">
                            <div *ngIf="f.ligandDetail.errors.required">Ligand Detail is Required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="locator" for="series" cssClass="required">Locator</label>
                        <input class="form-control" name="locator" formControlName="locator"
                            [ngClass]="{ 'is-invalid': submitted && f.locator.errors }">
                        <div *ngIf="submitted && f.locator.errors" class="invalid-feedback">
                            <div *ngIf="f.locator.errors.required">Locator is Required</div>
                        </div>
                    </div>
                </div>


            </div>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Reference</legend>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="sourceType" for="sourceType" cssClass="required">Source-type</label>
                            <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                            <select class="form-control" name="sourceType" formControlName="sourceType"
                                [ngClass]="{ 'is-invalid': submitted && f.sourceType.errors }">
                                <option value="" hidden> - Select -SourceType - </option>
                                <option> Journal </option>
                                <option> Patent </option>
                                <option> Other </option>
                                <!-- <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                            {{system.description}}
                        </option> -->
                            </select>
                            <div *ngIf="submitted && f.sourceType.errors" class="invalid-feedback">
                                <div *ngIf="f.sourceType.errors.required">source type is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="citation" for="series" cssClass="required">Citation</label>
                            <input class="form-control" name="citation" formControlName="citation"
                                [ngClass]="{ 'is-invalid': submitted && f.citation.errors }">
                            <div *ngIf="submitted && f.citation.errors" class="invalid-feedback">
                                <div *ngIf="f.citation.errors.required">Citation is Required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>


            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Disease</legend>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="diseaseName" for="series" cssClass="required">Original-disease-name</label>
                            <input class="form-control" name="diseaseName" formControlName="diseaseName"
                                [ngClass]="{ 'is-invalid': submitted && f.diseaseName.errors }">
                            <div *ngIf="submitted && f.diseaseName.errors" class="invalid-feedback">
                                <div *ngIf="f.diseaseName.errors.required">disease Name is Required</div>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="submit" class="btn btn-primary next" cdkStepperNext>Next</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <!-- <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 45px;" (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                    </button>
                </div> -->
            </div>
        </div>

        <legend class="scheduler-border">Ligand</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
            [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>