<app-checked-popup class="checked" title="Ligand Checking Area" acceptLabel="Accept" cancelLabel="Reject" acceptIcon="fa fa-check" [widthArg]="400" [heightArg]="400" (cancelClick)="onCancelClick()">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Link</legend>
        <div class="formData">
            <form [formGroup]="CheckedForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="tanNumber" for="tanNumber" cssClass="required">TAN Number : </label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="tanNumber" name="tanNumber" formControlName="tanNumber">
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="ligandUri" for="ligandUri" cssClass="required">Ligand-Uri :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="ligandUri" name="ligandUri" formControlName="ligandUri">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="ligandVersionSlno" for="ligandVersionSlno" cssClass="required">Ligand-Version :</label>
                            </div>
                            <div class="col-sm-7">

                                <input class="ligandVersionSlno" name="ligandVersionSlno" formControlName="ligandVersionSlno">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="ligandTypeSlno" for="ligandTypeSlno" cssClass="required">Ligand-Type
                                    :</label>
                            </div>
                            <div class="col-sm-7">

                                <input class="ligandTypeSlno" name="ligandTypeSlno" formControlName="ligandTypeSlno">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="ligandDetail" for="series" cssClass="required">Ligand-detail :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="ligandDetail" name="ligandDetail" formControlName="ligandDetail">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">


                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="identifier1" for="series" cssClass="required">Identifier1 :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="identifier1" name="identifier1" formControlName="identifier1">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="identifier2" for="series" cssClass="required">Identifier2 :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="identifier2" name="identifier2" formControlName="identifier2">
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="identifier3" for="series" cssClass="required">Identifier3 :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="identifier3" name="identifier3" formControlName="identifier3">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="collectionId" for="series" cssClass="required">Collection-id :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="collectionId" name="collectionId" formControlName="collectionId">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="locator" for="series" cssClass="required">Locator :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="locator" name="locator" formControlName="locator">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="citation" for="series" cssClass="required">Citation :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="citation" path="citation" name="citation" formControlName="citation" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="relatedDocument" for="series" cssClass="required">RelatedDocument
                                        :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="relatedDocument" path="relatedDocument" name="relatedDocument" formControlName="relatedDocument" readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="registryNumber" for="series" cssClass="required"> Registry Number :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="registryNumber" path="registryNumber" name="registryNumber" formControlName="registryNumber" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <div class="col-xs-5 col-sm-5">
                                <label path="diseaseName1" for="series" cssClass="required">Original disease name1
                                    :</label>
                            </div>
                            <div class="col-xs-7 col-sm-7">
                                <input class="diseaseName1" path="diseaseName1" name="diseaseName1" formControlName="diseaseName1" />
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <div class="col-xs-5 col-sm-5">
                                <label path="diseaseName2" for="series" cssClass="required">Disease Name2
                                    :</label>
                            </div>
                            <div class="col-xs-7 col-sm-7">
                                <input class="diseaseName2" path="diseaseName2" name="diseaseName2" formControlName="diseaseName2" />

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <div class="col-xs-5 col-sm-5">
                                <label path="diseaseName3" for="series" cssClass="required">Disease Name3
                                    :</label>
                            </div>
                            <div class="col-xs-7 col-sm-7">
                                <input class="diseaseName3" path="diseaseName3" name="diseaseName3" formControlName="diseaseName3" />

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="ligandVersions" for="ligandVersions" cssClass="required">Ligand Version
                                        :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="ligandVersions" path="ligandVersions" name="ligandVersions" formControlName="ligandVersions" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="target" for="series" cssClass="required">Target uri :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="target" name="target" formControlName="target">
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="targetVersion" for="targetVersion" cssClass="required">Target
                                            version :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="targetVersion" name="targetVersion" formControlName="targetVersion">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="collectionId1" for="collectionId1" cssClass="required">Collection-id :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="collectionId1" name="collectionId1" formControlName="collectionId1">
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="original" for="original" cssClass="required">Original target name
                                            :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="original" name="original" formControlName="original">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="acronym" for="series" cssClass="required">Acronym :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="acronym" name="acronym" formControlName="acronym">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="organism" for="series" cssClass="required">Organism source
                                            :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="organism" name="organism" formControlName="organism">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label path="variant" for="variant" cssClass="required">Variant :</label>
                            </div>
                            <div class="col-sm-7">
                                <input class="variant" name="variant" formControlName="variant">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</app-checked-popup>