<fieldset class="scheduler-border">
    <legend class="scheduler-border">Assay</legend>
    <div class="formData">
        <form [formGroup]="AssayForm" (ngSubmit)="onAssayClick($event, AssayForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandVersionSlno" for="ligandVersionSlno" cssClass="required">Ligand-Version</label>
                        <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                        <select class="form-control" name="ligandVersionSlno" formControlName="ligandVersionSlno" [ngClass]="{ 'is-invalid': submitted && f.ligandVersionSlno.errors }">
                            <option value="" hidden> - Select Ligand-Version - </option>
                            <option> 1 </option>
                            <option> 2 </option>
                            <option> 3 </option>
                            <option> 4 </option>
                            <option> 5 </option>
                            <!-- <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                                {{system.description}}
                            </option> -->
                        </select>
                        <div *ngIf="submitted && f.ligandVersionSlno.errors" class="invalid-feedback">
                            <div *ngIf="f.ligandVersionSlno.errors.required">Ligand Version is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ordinal" for="series" cssClass="required">Ordinal</label>
                        <input type="number" class="form-control" name="ordinal" formControlName="ordinal" [ngClass]="{ 'is-invalid': submitted && f.ordinal.errors }">
                        <div *ngIf="submitted && f.ordinal.errors" class="invalid-feedback">
                            <div *ngIf="f.ordinal.errors.required">Ordinal is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="collectionId" for="series" cssClass="required">Collection-id</label>
                        <input class="form-control" name="collectionId" formControlName="collectionId" [ngClass]="{ 'is-invalid': submitted && f.collectionId.errors }">
                        <div *ngIf="submitted && f.collectionId.errors" class="invalid-feedback">
                            <div *ngIf="f.collectionId.errors.required">ID is Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="assayTypeSlno" for="assayTypeSlno" cssClass="required">Assay-type</label>
                        <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                        <select class="form-control" name="assayTypeSlno" formControlName="assayTypeSlno" [ngClass]="{ 'is-invalid': submitted && f.assayTypeSlno.errors }">
                            <option value="" hidden> - Select Assay-Types - </option>
                            <option> Binding </option>
                            <option> Functional </option>
                            <option> Non-clinical trial ADME </option>
                            <!-- <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                                {{system.description}}
                            </option> -->
                        </select>
                        <div *ngIf="submitted && f.assayTypeSlno.errors" class="invalid-feedback">
                            <div *ngIf="f.assayTypeSlno.errors.required">Assay-Type is Required</div>
                        </div>
                    </div>
                </div>



                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="toxiCitySlno" for="toxiCitySlno" cssClass="required">Toxicity-type</label>
                        <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                        <select class="form-control" name="toxiCitySlno" formControlName="toxiCitySlno" [ngClass]="{ 'is-invalid': submitted && f.toxiCitySlno.errors }">
                            <option value="" hidden> - Select Toxicity-Types - </option>
                            <option> Carcinogenicity </option>
                            <option> Cardiotoxicity </option>
                            <option> Cytotoxicity </option>
                            <option> Dose-limiting toxicity </option>
                            <option> Ecotoxicity </option>
                            <option> Embryotoxicity </option>
                            <option> Endocrine disruption </option>
                            <option> Gastrointestinal toxicity </option>
                            <option> Genotoxicity </option>
                            <option> Hematotoxicity </option>
                            <option> Hepatotoxicity </option>
                            <option> Immunotoxicity </option>
                            <option> Inhalation toxicity </option>
                            <option> Mutagenicity </option>
                            <option> Myelotoxicity </option>
                            <option> Myotoxicity </option>
                            <option> Nephrotoxicity </option>
                            <option> Neurotoxicity </option>
                            <option> Ocular toxicity </option>
                            <option> Ototoxicity </option>
                            <option> Pulmonary toxicity </option>
                            <option> Reproductive toxicity </option>
                            <option> Skin toxicity </option>
                            <!-- <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                                {{system.description}}
                            </option> -->
                        </select>
                        <div *ngIf="submitted && f.toxiCitySlno.errors" class="invalid-feedback">
                            <div *ngIf="f.toxiCitySlno.errors.required">Toxicity-Type is Required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="routeSlno" for="routeSlno" cssClass="required">Route-of-administration</label>
                        <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                        <select class="form-control" name="routeSlno" formControlName="routeSlno" [ngClass]="{ 'is-invalid': submitted && f.routeSlno.errors }">
                            <option value="" hidden> - Select Route-Types - </option>
                            <option> Auricular </option>
                            <option> Otic </option>
                            <option> Buccal </option>
                            <option> Epidural </option>
                            <option> Intra-arterial </option>
                            <option> Intra-articular </option>
                            <option> Intracardiac </option>
                            <option> Intracerebroventricular </option>
                            <option> Intraductal </option>
                            <option> Intrafollicular </option>
                            <option> Intragastric </option>
                            <option> Intralesional </option>
                            <option> Intramuscular </option>
                            <option> Intramammary </option>
                            <option> Immersion </option>
                            <option> Infiltration </option>
                            <option> Respiratory </option>
                            <option> Inhalation </option>
                            <option> Intraperitoneal </option>
                            <option> Intrasinal </option>
                            <option> Intrasynovial </option>
                            <option> Intrathecal </option>
                            <option> Intrathecal </option>
                            <option> Intratesticular </option>
                            <option> Intrauterine </option>
                            <option> Intravenous </option>
                            <option> Intravesical </option>
                            <option> Nasal </option>
                            <option> Nasogastric </option>
                            <option> Ophthalmic </option>
                            <option> Parenteral </option>
                            <option> Perineural </option>
                            <option> Oral </option>
                            <option> Gavaged </option>
                            <option> Intragastric gavage </option>
                            <option> Intragastric gavage </option>
                            <option> Peroral </option>
                            <option> Vaginal </option>
                            <option> Rectal </option>
                            <option> Subcutaneous </option>
                            <option> Subcutaneous implant </option>
                            <option> Sublingual </option>
                            <option> Topical </option>
                            <option> Topical-pour on </option>
                            <option> Transdermal </option>
                            <!-- <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                                {{system.description}}
                            </option> -->
                        </select>
                        <div *ngIf="submitted && f.routeSlno.errors" class="invalid-feedback">
                            <div *ngIf="f.routeSlno.errors.required">Route-Type is Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandSvalue" for="series" cssClass="required">Ligand-Dose(Single-value)</label>
                        <input class="form-control" name="ligandSvalue" formControlName="ligandSvalue" [ngClass]="{ 'is-invalid': submitted && f.ligandSvalue.errors }">
                        <div *ngIf="submitted && f.ligandSvalue.errors" class="invalid-feedback">
                            <div *ngIf="f.ligandSvalue.errors.required">Ligand dose is Required</div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="unitSlno" for="unitSlno" cssClass="required">Unit(Single-value)</label>
                        <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                        <select class="form-control" name="unitSlno" formControlName="unitSlno" [ngClass]="{ 'is-invalid': submitted && f.unitSlno.errors }">
                            <option value="" hidden> - Select Unit-Types - </option>
                            <option> 1 </option>
                            <option> 2 </option>
                            <option> 3 </option>
                            <!-- <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                                {{system.description}}
                            </option> -->
                        </select>
                        <div *ngIf="submitted && f.unitSlno.errors" class="invalid-feedback">
                            <div *ngIf="f.unitSlno.errors.required">Unit-Type is Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandHvalue" for="series" cssClass="required">Ligand-Dose(High-end-value)</label>
                        <input class="form-control" name="ligandHvalue" formControlName="ligandHvalue" [ngClass]="{ 'is-invalid': submitted && f.ligandHvalue.errors }">
                        <div *ngIf="submitted && f.ligandHvalue.errors" class="invalid-feedback">
                            <div *ngIf="f.ligandHvalue.errors.required">Ligand dose is Required</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">



                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="unitsSlno" for="unitsSlno" cssClass="required">Unit(High-end-value)</label>
                        <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                        <select class="form-control" name="unitsSlno" formControlName="unitsSlno" [ngClass]="{ 'is-invalid': submitted && f.unitsSlno.errors }">
                            <option value="" hidden> - Select Units-Types - </option>
                            <option> 1 </option>
                            <option> 2 </option>
                            <option> 3 </option>
                            <!-- <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                                {{system.description}}
                            </option> -->
                        </select>
                        <div *ngIf="submitted && f.unitsSlno.errors" class="invalid-feedback">
                            <div *ngIf="f.unitsSlno.errors.required">Unit-Type is Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandLvalue" for="series" cssClass="required">Ligand-Dose(Low-end-value)</label>
                        <input class="form-control" name="ligandLvalue" formControlName="ligandLvalue" [ngClass]="{ 'is-invalid': submitted && f.ligandLvalue.errors }">
                        <div *ngIf="submitted && f.ligandLvalue.errors" class="invalid-feedback">
                            <div *ngIf="f.ligandLvalue.errors.required">Ligand dose is Required</div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="unitedSlno" for="unitedSlno" cssClass="required">Unit(Low-end-value)</label>
                        <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                        <select class="form-control" name="unitedSlno" formControlName="unitedSlno" [ngClass]="{ 'is-invalid': submitted && f.unitedSlno.errors }">
                            <option value="" hidden> - Select Units-Types - </option>
                            <option> 1 </option>
                            <option> 2 </option>
                            <option> 3 </option>
                            <!-- <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                                {{system.description}}
                            </option> -->
                        </select>
                        <div *ngIf="submitted && f.unitedSlno.errors" class="invalid-feedback">
                            <div *ngIf="f.unitedSlno.errors.required">Unit-Type is Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="administration" for="series" cssClass="required">Administration-regimen</label>
                        <input class="form-control" name="administration" formControlName="administration" [ngClass]="{ 'is-invalid': submitted && f.administration.errors }">
                        <div *ngIf="submitted && f.administration.errors" class="invalid-feedback">
                            <div *ngIf="f.administration.errors.required">Administration-regimen dose is Required</div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="procedure" for="series" cssClass="required">Procedure</label>
                        <input class="form-control" name="procedure" formControlName="procedure" [ngClass]="{ 'is-invalid': submitted && f.procedure.errors }">
                        <div *ngIf="submitted && f.procedure.errors" class="invalid-feedback">
                            <div *ngIf="f.procedure.errors.required">Procedure is Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="target" for="series" cssClass="required">Target-uri</label>
                        <input class="form-control" name="target" formControlName="target" [ngClass]="{ 'is-invalid': submitted && f.target.errors }">
                        <div *ngIf="submitted && f.target.errors" class="invalid-feedback">
                            <div *ngIf="f.target.errors.required">Uri is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="conditionType" for="series" cssClass="required">Condition type</label>
                        <input class="form-control" name="conditionType" formControlName="conditionType" [ngClass]="{ 'is-invalid': submitted && f.conditionType.errors }">
                        <div *ngIf="submitted && f.conditionType.errors" class="invalid-feedback">
                            <div *ngIf="f.conditionType.errors.required">Condition type is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="conditionMaterial" for="series" cssClass="required">Condition material</label>
                        <input class="form-control" name="conditionMaterial" formControlName="conditionMaterial" [ngClass]="{ 'is-invalid': submitted && f.conditionMaterial.errors }">
                        <div *ngIf="submitted && f.conditionMaterial.errors" class="invalid-feedback">
                            <div *ngIf="f.conditionMaterial.errors.required">Condition material is Required</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="conditionMaterialid" for="series" cssClass="required">Condition material-id</label>
                        <input class="form-control" name="conditionMaterialid" formControlName="conditionMaterialid" [ngClass]="{ 'is-invalid': submitted && f.conditionMaterialid.errors }">
                        <div *ngIf="submitted && f.conditionMaterialid.errors" class="invalid-feedback">
                            <div *ngIf="f.conditionMaterialid.errors.required">ID is Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="value" for="series" cssClass="required">value</label>
                        <input class="form-control" name="value" formControlName="value" [ngClass]="{ 'is-invalid': submitted && f.value.errors }">
                        <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
                            <div *ngIf="f.value.errors.required">Value is Required</div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group buttons">
                        <button class="btn btn-primary previous" cdkStepperPrevious>Previous</button>
                        <button type="submit" class="btn btn-primary submit" cdkStepperNext>Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <!-- <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 45px;" (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                    </button>
                </div> -->
            </div>
        </div>

        <legend class="scheduler-border">Assay</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>