<fieldset class="scheduler-border">
    <legend class="scheduler-border">Assay</legend>
    <div class="formData">
        <form [formGroup]="AssayForm" (ngSubmit)="onAssayClick($event, AssayForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandSlno" for="ligandSlno" cssClass="required">Ligand-Version</label>
                        <select class="form-control" name="ligandSlno" formControlName="ligandSlno" (blur)="onBlurEvent($event)">
                            <option value="" hidden> - Select Ligand-Version - </option>
                            <option> - Select Ligand-Version - </option>
                            <option *ngFor="let ligandObject of ligands" [value]="ligandObject.ligandId">
                                {{ligandObject.ligandVersionSlno2?.ligandVersion}}
                            </option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ordinal" for="series" cssClass="required">Ordinal</label>
                        <input type="number" class="form-control" name="ordinal" formControlName="ordinal">

                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="assayTypeSlno" for="assayTypeSlno" cssClass="required">Assay-type</label>
                        <select class="form-control" name="assayTypeSlno" formControlName="assayTypeSlno">
                            <option value="" hidden> - Select Assay-Types - </option>
                            <option> - Select Assay-Types - </option>
                            <option *ngFor="let assayType of assayTypes" [value]="assayType.id">
                                {{assayType.assayType}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="toxiCitySlno" for="toxiCitySlno" cssClass="required">Toxicity-type</label>
                        <select class="form-control" name="toxiCitySlno" formControlName="toxiCitySlno">
                            <option value="" hidden> - Select Toxicity-Types - </option>
                            <option> - Select Toxicity-Types - </option>
                            <option *ngFor="let toxiCity of toxiCities" [value]="toxiCity.id">
                                {{toxiCity.toxiCity}}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="routeSlno" for="routeSlno" cssClass="required">Route-of-administration</label>
                        <select class="form-control" name="routeSlno" formControlName="routeSlno">
                            <option value="" hidden> - Select Route-Types - </option>
                            <option> - Select Route-Types - </option>
                            <option *ngFor="let routeAdmin of routeAdmins" [value]="routeAdmin.id">
                                {{routeAdmin.route}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandSvalue" for="series" cssClass="required">Ligand-Dose(Single-value)</label>
                        <input class="form-control" name="ligandSvalue" formControlName="ligandSvalue">
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="unitSlno" for="unitSlno" cssClass="required">Unit(Single-value)</label>
                        <select class="form-control" name="unitSlno" formControlName="unitSlno">
                            <option value="" hidden> - Select Unit-Types - </option>
                            <option> - Select Unit-Types - </option>
                            <option *ngFor="let unitsinglevalue of unitsinglevalues" [value]="unitsinglevalue.id">
                                {{unitsinglevalue.unit}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandHvalue" for="series" cssClass="required">Ligand-Dose(High-end-value)</label>
                        <input class="form-control" name="ligandHvalue" formControlName="ligandHvalue">
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandLvalue" for="series" cssClass="required">Ligand-Dose(Low-end-value)</label>
                        <input class="form-control" name="ligandLvalue" formControlName="ligandLvalue">
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="unitedSlno" for="unitedSlno" cssClass="required">Unit</label>
                        <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                        <select class="form-control" name="unitedSlno" formControlName="unitedSlno">
                            <option value="" hidden> - Select Units-Types - </option>
                            <option> - Select Units-Types- </option>
                            <option *ngFor="let unitlowendvalue of unitlowendvalues" [value]="unitlowendvalue.id">
                                {{unitlowendvalue.united}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="administration" for="series" cssClass="required">Administration-regimen</label>
                        <input class="form-control" name="administration" formControlName="administration">
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="procedure" for="series" cssClass="required">Procedure</label>
                        <input class="form-control" name="procedure" formControlName="procedure">
                    </div>
                </div>
            </div>
            <br>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Condition</legend>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="conditionType" for="series" cssClass="required">Condition type</label>
                            <select class="form-control" name="conditionType" formControlName="conditionType">
                                <option value="" hidden> - Select Condition type - </option>
                                <option>- Select Condition type -</option>
                                <option>Combination Chemotherapy</option>
                                <option>Drug Interactions</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="conditionMaterial" for="series" cssClass="required">Condition material</label>
                            <input class="form-control" name="conditionMaterial" formControlName="conditionMaterial">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="conditionMaterialid" for="series" cssClass="required">Condition
                                material-id</label>
                            <input class="form-control" name="conditionMaterialid" formControlName="conditionMaterialid">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="singleCondition" for="series" cssClass="required">Condition(Single-value)</label>
                            <input class="form-control" name="singleCondition" formControlName="singleCondition">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="singleUnit" for="series" cssClass="required">Unit(Single-value)</label>
                            <input class="form-control" name="singleUnit" formControlName="singleUnit">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="highCondition" for="series" cssClass="required">Condition(High-end-value)</label>
                            <input class="form-control" name="highCondition" formControlName="highCondition">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="lowCondition" for="series" cssClass="required">Condition(Low-end-value)</label>
                            <input class="form-control" name="lowCondition" formControlName="lowCondition">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="highLowUnit" for="series" cssClass="required">Unit</label>
                            <input class="form-control" name="highLowUnit" formControlName="highLowUnit">
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group buttons">
                        <!-- <button class="btn btn-primary previous" cdkStepperPrevious>Previous</button>
                        <button type="submit" class="btn btn-primary submit" cdkStepperNext>Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button> -->
                        <div class="row">
                            <div class="col-sm-7"></div>
                            <div class="col-sm-1"><button type="button" class="btn btn-primary" (click)="onRepeat()">Repeat</button></div>
                            <div class="col-sm-1"><button type="button" class="btn btn-primary" (click)="onEdit()">Edit</button></div>
                            <div class="col-sm-1"><button type="submit" class="btn btn-primary" cdkStepperNext>Submit</button></div>
                            <div class="col-sm-1"> <button type="button" class="btn btn-primary" (click)="onReset()">Clear</button></div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Assay</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>